.about {
    margin-left: 35%;
    border-radius: 12px;
    border: 25px solid;
    width: 500px;
}
.about h1 {
    text-align: center;
}
.about p{
    margin-left: 15px;
    font-weight: bold;
}
.about a {
    text-decoration: none;
}
.about img {
    border-radius: 30px;
}